@import "styles/vars";

.reg {
  background: url("/img/login-background.jpg") 50% 50% no-repeat;
  height: 100%;

  &__form {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    padding: 5% 7%;

    &__input {
      margin-bottom: 5%;
    }

    &__btn {
      background-color: $colorPrimary;
      padding-left: 10%;
      padding-right: 10%;

      &:hover {
        background-color: darken($colorPrimary, 10%);
      }
    }
  }

  &__form_title {
    margin-bottom: 5%;
  }
}